@media screen and (max-width: 880px){
   * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .Loading{
  p{
    font-size: 4rem;
  }
 }
 .App{
  width: 100%;
}
.task{
  width: 85%;
  height: 35%;
}
   
 }